:root {
  /* color */
  --darkblue-: #171d44;
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100%;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  position: fixed;
  width: 100%;
  min-width: 800px;
  padding-bottom: 20px;
}
.banner .logo {
  margin: 10px 0px;
}
a {
  text-decoration: none;
}
.banner .button {
  font-size: 15px;
  font-weight: 600;
  color: var(--darkblue-);
  margin: 0px 20px;
}

#sec01 {
  background-image: url("/img/sea.jpg");
  background-size: 100% 100%;
  width: 100%;
  height: 400px;
  min-width: 1200px;
  margin-bottom: 80px;
}
/* section2 */
#sec02 > img {
  margin-top: 10px;
}
/* section3 */
#sec03 {
  width: 100%;
  background-color: #efefef;
  padding: 20px;
}
#sec03 img {
  margin: 20px;
}

#sec04 {
  width: 100%;
  display: flex;
  padding: 100px;
  align-items: center;
  justify-content: center;
  border-bottom: 2px darkgray solid;
}
#sec04 .imgBox {
  margin: 10px 20px;
}
#sec04 .textBox img,
#sec04 .imgBox img {
  margin: 20px 20px;
}
#sec05 img {
  margin: 20px 0px;
}

#map {
  margin: 20px 0px;
}

.img10 {
  align-self: flex-start;
  height: 100px;
}

#sec06 {
  background-image: url("/img/lighthouse.jpg");
  background-size: 100% 100%;
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 1500px;
}

#sec06 .footer {
  height: 80px;
  margin-bottom: 20px;
}

#sec06 .footer img {
  height: 80px;
}
